  /* Base Card Style */
  .card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }

  .card img {
    width: 95%;
  }
  
  .card:hover {
    box-shadow: none;
  }

  /* Drop Shadow Themes */
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(14px);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
    
  .card {
	margin:20px;
  }

  .card:hover::before {
    opacity: 1;
  }

  /* Fuchsia Theme */
  .card-theme-fuchsia::before {
    background: linear-gradient(123deg, #d14600, #c300e0, #6842ff);
  }
  
  .card-theme-fuchsia-dark::before {
    background: linear-gradient(123deg, #fa6f00, #e433ff, #8575ff);
  }

  /* Indigo Theme */
  .card-theme-indigo::before {
    background: linear-gradient(123deg, #0073e5, #295eff, #6842ff);
  }

  .card-theme-indigo-dark::before {
    background: linear-gradient(123deg, #0096fa, #5c7fff, #8575ff);
  }

  /* Orange Theme */
  .card-theme-orange::before {
    background: linear-gradient(123deg, #d600ba, #eb003b, #d14600);
  }

  .card-theme-orange-dark::before {
    background: linear-gradient(123deg, #ff1ae0, #ff386a, #fa6f00);
  }

  /* Teal Theme */
  .card-theme-teal::before {
    background: linear-gradient(123deg, #008559, #007e94, #0073e5);
  }

  .card-theme-teal-dark::before {
    background: linear-gradient(123deg, #00bd6b, #00a4bd, #0096fa);
  }

  /* Blue Theme */
  .card-theme-blue::before {
    background: linear-gradient(123deg, #008559, #0073e5, #6842ff);
  }

  .card-theme-blue-dark::before {
    background: linear-gradient(123deg, #00bd6b, #0096fa, #8575ff);
  }

  /* Violet Theme */
  .card-theme-violet::before {
    background: linear-gradient(123deg, #962eff, #0073e5, #007e94);
  }

  .card-theme-violet-dark::before {
    background: linear-gradient(123deg, #ad5cff, #0096fa, #00a4bd);
  }

  /* Purple Theme */
  .card-theme-purple::before {
    background: linear-gradient(123deg, #d600ba, #6842ff, #007e94);
  }

  .card-theme-purple-dark::before {
    background: linear-gradient(123deg, #ff1ae0, #8575ff, #00a4bd);
  }
  
.card h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card p {
  margin: 10px 0 0;
  color: #666;
}

  /* Additional Shadow Effects */
  .card-always::before {
    filter: blur(15px);
  }

  .card-hoverable:hover::before {
    filter: blur(20px);
  }

  .card-onHover:hover::before {
    filter: blur(15px);
  }

  .card-offHover::before {
    filter: blur(15px);
  }

  .card-offHover:hover::before {
    filter: none;
  }

  .card-pressable:active::before {
    filter: blur(8px) !important;
  }